*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.site{
    background: url('../images/background.jpg');
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header ul{
    display: flex;
    list-style: none;
    gap: 3vw;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.footer img{
    width: 20px;
    height: 20px;
}