*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;   
}
.site{
    background: url('../images/background.jpg');
    background-size: 100vw 97vh;
}
.header,
.footer{
    background-color: rgba(0, 0, 0, 0.6);
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    gap: 3vh;
}
.header ul{
    display: flex;
    list-style: none;
    gap: 3vw;
}
.nav-item{
    cursor: pointer;
}
.nav-item-hover{
    margin-top: -1vh;
}

.pg-body{
    margin: 7vh 0;
    height: 67vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-page,
.contact-card,
.menu{
    padding: 30vh 10vw;
    background-color: rgba(0, 0, 0, 0.7);
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-card{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.contact-card .contact-field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
}
.contact-card .contact-field .contact-label{
    display: flex;
    gap: 0.7vw;
}
.home-page img{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}
.contact-field .contact-label{
    display: flex;
}
.contact-field .contact-label img{
    width: 2vw;
    height: 2vw;
    filter: invert(1) brightness(80%);
}
.menu{
    padding: 4vh 8vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    overflow: auto;
    resize: both;
    gap: 2vw;
}

.menu img{
 width: 100px;
 height: 100px;
}
.menu h2{
    font-size: 1rem;
}
.menu p{
    font-size: .7rem;
}
.menu h2, p{
    filter: brightness(80%);
}
.menu p:last-child{
    font-size: .5rem;
}
.menu-item{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2vw;
}
.menu-item-hovered{
    background-color: rgba(255, 255, 255, 0.1);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 1vh;
}
.footer img{
    width: 20px;
    height: 20px;
    filter: invert(1) brightness(80%);
}